body {

	color: yellow;
	background-image: url(https://images5.alphacoders.com/109/thumb-1920-1099191.jpg);
	font-family: georgia, "Times New Roman", times , serif;
	text-align: center;

}

#p1 {
	color: red;
	font-size: 200%;
}

#myheader {

	font-size: 200%;

	color: blue;
	
}

#gif {
	width: 400px;
	height: auto;
}

.paragraph { 

	font-family: arial, Helvetica;
	font-size: 175%;
	color: white;
	font-style: italic;
	
}

